<nb-card>
  <nb-card-body>
    <nb-tabset fullWidth>
      <nb-tab tabTitle="UPCOMING/PENDING TESTS">
        <div *ngIf="tests && tests.unmarked.length>0;else noRecords">
          <div class="row" *ngFor="let unmarkedTest of tests.unmarked">
            <div class="col-md-1">
              <div class="date-block">
                <span class="day">{{ getDay(unmarkedTest.days.date) }}</span>
                <span class="month">{{ getMonth(unmarkedTest.days.date) }}</span>
              </div>
            </div>
            <div class="col-md-3">
              <div>
                <span class="boldText">{{unmarkedTest.days.date}}</span>
              </div>
              <div>
                <label>Time : </label><span class="boldText">{{unmarkedTest.days.startTime}} -
                  {{unmarkedTest.days.endTime}}</span>
              </div>
            </div>
            <div class="col-md-3">
              <div>
                <label></label><span class="boldText"></span>
              </div>
              <div>
                <label>Teacher : </label><span class="boldText">{{unmarkedTest.days.teacherName}}</span>
              </div>
            </div>
            <div class="col-md-3">
              <div>
                <label></label><span class="boldText"></span>
              </div>
              <div>
                <label>Batch : </label><span class="boldText">{{unmarkedTest.days.batchName}}</span>
              </div>
            </div>
            <div class="col-md-2">
              <button nbButton status="success" (click)="editAttendance(markedAttendance)">MARK</button>
              <button class="btn btn-yellow-black" (click)="editAttendance(markedAttendance)">EDIT MARKS</button>
              <button nbButton status="success" (click)="editAttendance(markedAttendance)">DELETE</button>
            </div>
          </div>
        </div>
        <hr>
        <div class="text-center">
          <button class="btn btn-yellow-black" (click)="createTest(markedTest)">ADD TEST</button>
        </div>
      </nb-tab>
      <nb-tab tabTitle="MARKED TESTS">
        <div *ngIf="tests && tests.marked.length>0;else noRecords">
          <div class="row" *ngFor="let markedTest of tests.marked">
            <div class="col-md-1">
              <div class="date-block">
                <span class="day">{{ getDay(markedTest.days.date) }}</span>
                <span class="month">{{ getMonth(markedTest.days.date) }}</span>
              </div>
            </div>
            <div class="col-md-3">
              <div>
                <span class="boldText">{{markedTest.days.date}}</span>
              </div>
              <div>
                <label>Time : </label><span class="boldText">{{markedTest.days.startTime}} -
                  {{markedTest.days.endTime}}</span>
              </div>
            </div>
            <div class="col-md-3">
              <div>
                <label></label><span class="boldText"></span>
              </div>
              <div>
                <label>Teacher : </label><span class="boldText">{{markedTest.days.teacherName}}</span>
              </div>
            </div>
            <div class="col-md-3">
              <div>
                <label></label>
                <span class="boldText"></span>
              </div>
              <div>
                <label>Batch : </label><span class="boldText">{{markedTest.days.batchName}}</span>
              </div>
            </div>
            <div class="col-md-2">
              <button class="btn btn-yellow-black" (click)="editAttendance(markedTest)">EDIT MARKS</button>
            </div>
          </div>
        </div>
        <hr>
        <div class="text-center">
          <button class="btn btn-yellow-black" (click)="createTest(markedTest)">ADD TEST</button>
        </div>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
<ng-template #noRecords>
  <p class="text-center pt-5">No Records Found</p>
</ng-template>