<div class="wrapper fadeInDown" style="background-color: #fce062;">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- <h2 class="inactive underlineHover">Sign Up </h2> -->

    <!-- Login Form -->
    <!-- <form> -->

    <nb-layout style="background-color: white;">
      <nb-layout-column style="background-color: white;">
        <nb-card style="box-shadow: none;">
          <nb-card-body class="text-center">
            <div class="fadeIn first">
              <img src="assets/img/EA FAVI.png" id="icon" alt="User Icon" style="width: 25%;" />
            </div>

            <h2 class="font-weight-bolder d-inline-block" style="font-size: 25px; color: black;">
              Create Your Account
            </h2>
            <form [formGroup]="registerUser" (ngSubmit)="onSignUp()">
              <input
                type="text"
                id="name"
                class="fadeIn first"
                formControlName="name"
                name="name"
                placeholder="Name *"
              />

              <div *ngIf="(f.name.errors && f.name.invalid && f.name.touched) || submitted">
                <div *ngIf="f.name.errors?.required && submitted">
                  <small>*This field is required</small>
                </div>

                <div *ngIf="f.name.errors && submitted">
                  <small>*Name must be less than 30 letters</small>
                </div>
              </div>

              <input
                type="email"
                id="email"
                class="fadeIn second"
                formControlName="email"
                name="email"
                placeholder="Email *"
              />
              <div *ngIf="(f.email.errors && f.email.invalid && f.email.touched) || submitted">
                <small *ngIf="f.email.errors?.required && submitted">*This field is required</small>
                <small *ngIf="f.email.errors?.pattern && submitted">Enter correct Email Id</small>
              </div>
              <input
                type="text"
                id="phone"
                class="fadeIn third"
                formControlName="phone"
                name="phone"
                placeholder="Contact Number *"
                maxlength="10"
              />

              <div *ngIf="(f.phone.errors && f.phone.invalid && f.phone.touched) || submitted">
                <small *ngIf="f.phone.errors?.required && submitted">*This field is required</small>
                <small *ngIf="f.phone.errors?.pattern && submitted"
                  >*Enter Correct Phone Number</small
                >
              </div>

              <input
                type="password"
                id="password"
                class="fadeIn fourth"
                formControlName="password"
                name="password"
                placeholder="Password *"
              />
              <div
                *ngIf="(f.password.errors && f.password.invalid && f.password.touched) || submitted"
              >
                <small *ngIf="f.password.errors?.required && submitted"
                  >*This field is required</small
                >
                <small *ngIf="f.password.errors?.minlength && submitted"
                  >*min length 6 is required</small
                >
              </div>

              <input
                type="password"
                id="confirmPassword"
                class="fadeIn fifth"
                formControlName="confirmPass"
                name="confirmPassword"
                placeholder="Confirm Password"
              />
              <div
                *ngIf="
                  (f.confirmPass.errors && f.confirmPass.invalid && f.confirmPass.touched) ||
                  submitted
                "
              >
                <div *ngIf="f.confirmPass.errors?.required && submitted">
                  <small>*This field is required</small>
                </div>

                <div *ngIf="f.confirmPass.errors && submitted">
                  <small>*Passwords must match</small>
                </div>
              </div>
              <div>
                <nb-select
                  class="fadeIn eight"
                  formControlName="role"
                  placeholder="Select Role"
                  fullWidth
                >
                  <nb-option value="institute">Institute</nb-option>
                  <nb-option value="student">Student</nb-option>
                </nb-select>
              </div>
              <div>
                <nb-checkbox status="warning">
                  I agree with the TERMS AND CONDITIONS
                </nb-checkbox>
              </div>
              <!-- <div class="fadeIn sixth">
                <nb-card>
                  <nb-card-body>
                    <nb-select fullWidth placeholder="Select Primary Role" formControlName="selectRole"
                    style="border-bottom: 2px solid #5fbae9;">
                      <nb-option *ngFor="let o of options" [value]="o">
                        {{ o.name }}
                      </nb-option>
                    </nb-select>
                    </nb-card-body>
                    </nb-card>
              </div> -->
              <div>
                <button type="Submit" class="fadeIn seventh">Create Account</button>
              </div>
            </form>

            <!-- </form> -->

            <div>
              <span>Already Registered ? </span>
              <a routerLink="/login">Sign In Here</a>
            </div>
            <!-- Remind Passowrd -->
          </nb-card-body>
        </nb-card>
      </nb-layout-column>
    </nb-layout>
  </div>
</div>
