<div class="text-right">
  <button nbButton status="warning" (click)="onClick()" style="color: black;">Add Discount</button>
</div>
<p style="color: black; font-weight: bold;">Manage Discount Here</p>
<nb-card>
  <nb-card-body>
    <table *ngIf="discounts.length > 0; else noDiscounts">
      <thead>
        <tr>
          <th>Code</th>
          <th>Amount In %</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of discounts; let i = index">
          <td>{{ item.discountCode }}</td>
          <td>{{ item.amount }}</td>
          <td>{{ item.description }}</td>
          <td class="text-right">
            <button class="mr-3" nbButton status="warning" (click)="edit(item._id)">Edit</button>
            <button nbButton status="danger" (click)="delete(item._id)">Del</button>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #noDiscounts>
      <p class="text-center mt-3">No Discounts Found</p>
    </ng-template>
  </nb-card-body>
</nb-card>
