<nb-card *ngIf="display">
  <nb-card-header>
    <p style="color: black; font-weight: bold;">Test Score</p>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-4">
        <label for="courseId"><strong>Course: </strong>{{ course }}</label>
      </div>

      <div class="col-sm-4">
        <label for="batchId"><strong>Batch: </strong>{{ batch }}</label>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label for="date"><strong>Date: </strong>{{ test.date }}</label>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label for="testName"><strong>Test Name: </strong>{{ test.testName }}</label>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label for="totalMarks"><strong>Total Marks: </strong>{{ test.totalMarks }}</label>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-12">
        <nb-checkbox
          (checkedChange)="changeFieUpload($event)"
          [(ngModel)]="fileUpload"
          fullWidth
          status="basic"
          >Upload Test File</nb-checkbox
        >
        <a class="ml-3" [href]="sampleExcel" *ngIf="fileUpload">Sample File</a>
      </div>
    </div>

    <div *ngIf="!fileUpload">
      <div *ngIf="studentScore.length > 0; else noStudents">
        <div class="row">
          <div class="col-12">
            <table class="table table-borderless text-center">
              <thead>
                <tr>
                  <th class="">Roll No</th>
                  <th class="">Score</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let student of studentScore; let i = index">
                  <tr>
                    <td>{{ student.rollNo }}</td>

                    <td>
                      <input
                        type="number"
                        nbInput
                        pattern="\d*"
                        maxlength="3"
                        [id]="student.studentId"
                        [value]="student.marks"
                        (input)="addMarks($event, i)"
                      />
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <ng-template #noStudents>
        <p class="pt-5 text-center">No Students Found</p>
      </ng-template>
    </div>
    <div *ngIf="fileUpload">
      <input
        type="file"
        nbInput
        status="basic"
        fullWidth
        id="score"
        (change)="onFilePicked($event)"
      />
      <span style="color: #f00;" *ngIf="invalidFile"
        >*File format must be *.xsl, *.xlsx, *.csv</span
      >
      <p *ngIf="file && !invalidFile">{{ file.name }}</p>
    </div>
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-primary float-right" (click)="addScore()">
          Save
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
