<div class="text-right">
  <button nbButton class="pull right" status="warning" style="color: black;" (click)="onClick()">
    ADD COURSES
  </button>
</div>
<p style="color: black; font-weight: bold;">Manage Course Here</p>
<nb-card>
  <nb-card-body>
    <table>
      <thead>
        <tr>
          <th>Course Name</th>
          <th>Code</th>
          <th>Duration</th>
          <th>Fees</th>
          <th>GST</th>
          <th>Total Fees (Rs.)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of courses; let i = index">
          <td>{{ item.name }}</td>
          <td>{{ item.courseCode }}</td>
          <td>{{ item.duration }}</td>
          <td>{{ item.fees }}</td>
          <td>{{ item.gst }}</td>
          <td>&#x20B9; {{ item.totalFee }}</td>
          <td style="text-align: right;">
            <button class="mr-3" nbButton status="warning" (click)="edit(item._id)">Edit</button>
            <button nbButton status="danger" (click)="delete(item._id)">Del</button>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
