<nb-card>
	<nb-card-body>
		
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5">
				<p class="font-weight-bold">Name</p>
			</div>
			<div class="col-sm-5"><p>{{student.basicDetails.name}}</p></div>
			<div class="col-sm-1"></div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5">
				<p class="font-weight-bold">Roll Number</p>
			</div>
			<div class="col-sm-5"><p>{{student.basicDetails.rollNumber}}</p></div>
			<div class="col-sm-1"></div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5">
				<p class="font-weight-bold">Email</p>
			</div>
			<div class="col-sm-5"><p>{{student.basicDetails.studentEmail}}</p></div>
			<div class="col-sm-1"></div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5">
				<p class="font-weight-bold">Contact</p>
			</div>
			<div class="col-sm-5"><p>{{student.basicDetails.studentContact}}</p></div>
			<div class="col-sm-1"></div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5">
				<p class="font-weight-bold">Parent Name</p>
			</div>
			<div class="col-sm-5"><p>{{student.parentDetails.name}}</p></div>
			<div class="col-sm-1"></div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5">
				<p class="font-weight-bold">Parent contact</p>
			</div>
			<div class="col-sm-5"><p>{{student.parentDetails.parentContact}}</p></div>
			<div class="col-sm-1"></div>
		</div>
			<hr>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5">
				<p class="font-weight-bold">Parent Email</p>
			</div>
			<div class="col-sm-5"><p>{{student.parentDetails.parentEmail}}</p></div>
			<div class="col-sm-1"></div>
		</div>
			<hr>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5">
				<p class="font-weight-bold">Address</p>
			</div>
			<div class="col-sm-5"><p>{{student.parentDetails.address}}</p></div>
			<div class="col-sm-1"></div>
		</div>
			<hr>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5">
				<p class="font-weight-bold">Parent contact</p>
			</div>
			<div class="col-sm-5"><p>{{student.parentDetails.parentContact}}</p></div>
			<div class="col-sm-1"></div>
		</div>
				<hr>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5">
				<p class="font-weight-bold">Course Details</p>
			</div>
			<div class="col-sm-5"><p>	{{student.courseDetails.course}} {{student.courseDetails.batch}} {{student.courseDetails.discount}}
					{{student.courseDetails.additionalDiscount}}
					{{student.courseDetails.nextPayble}}</p></div>
			<div class="col-sm-1"></div>
		</div>
				<hr>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5">
				<p class="font-weight-bold">Fees Detail</p>
			</div>
			<div class="col-sm-5"><p>{{student.fee.installmentNumber}}
					{{student.fee.nextInstallment}}
					{{student.fee.amountCollected}}</p></div>
			<div class="col-sm-1"></div>
		</div>
				

	</nb-card-body>
</nb-card>
