<nb-card *ngIf="student">
  <nb-card-body>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <p class="font-weight-bold">Name</p>
      </div>
      <div class="col-sm-5">
        <p>{{ student.basicDetails.name }}</p>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <p class="font-weight-bold">Roll Number</p>
      </div>
      <div class="col-sm-5">
        <p>{{ student.instituteDetails.rollNumber }}</p>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <p class="font-weight-bold">Email</p>
      </div>
      <div class="col-sm-5">
        <p>{{ student.basicDetails.studentEmail }}</p>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <p class="font-weight-bold">Contact</p>
      </div>
      <div class="col-sm-5">
        <p>{{ student.basicDetails.studentContact }}</p>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <p class="font-weight-bold">Parent Name</p>
      </div>
      <div class="col-sm-5">
        <p>{{ student.parentDetails.name }}</p>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <p class="font-weight-bold">Parent contact</p>
      </div>
      <div class="col-sm-5">
        <p>{{ student.parentDetails.parentContact }}</p>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <p class="font-weight-bold">Parent Email</p>
      </div>
      <div class="col-sm-5">
        <p>{{ student.parentDetails.parentEmail }}</p>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <p class="font-weight-bold">Address</p>
      </div>
      <div class="col-sm-5">
        <p>{{ student.parentDetails.address }}</p>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <p class="font-weight-bold">Parent contact</p>
      </div>
      <div class="col-sm-5">
        <p>{{ student.parentDetails.parentContact }}</p>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </nb-card-body>
</nb-card>
