<p style="color: black; font-weight: bold;">Add Employees Here</p>

<nb-card status="warning">
  <nb-card-body>
    <nb-checkbox
      (checkedChange)="changeAlreadyRegistered($event)"
      [checked]="alreadyRegistered"
      fullWidth
      status="warning"
      *ngIf="!edit"
      >Already Registered Employee</nb-checkbox
    >
    <form
      [formGroup]="eduAtlasEmployeeForm"
      (ngSubmit)="onEmployeeSearch()"
      *ngIf="alreadyRegistered"
    >
      <p>Fetch Employee</p>
      <div class="row">
        <div class="col-sm-2">
          <input
            type="text"
            nbInput
            maxlength="3"
            [status]="
              eduAtlasEmployeeFormControl.idInput1.errors &&
              eduAtlasEmployeeFormControl.idInput1.touched
                ? 'danger'
                : 'basic'
            "
            id="idInput1"
            disabled="true"
            fullWidth
            formControlName="idInput1"
          />
        </div>
        <span>-</span>
        <div class="col-sm-2">
          <input
            type="text"
            nbInput
            maxlength="4"
            [status]="
              eduAtlasEmployeeFormControl.idInput2.errors &&
              eduAtlasEmployeeFormControl.idInput2.touched
                ? 'danger'
                : 'basic'
            "
            id="idInput2"
            fullWidth
            formControlName="idInput2"
          />
        </div>
        <span>-</span>
        <div class="col-sm-2">
          <input
            type="text"
            nbInput
            maxlength="3"
            [status]="
              eduAtlasEmployeeFormControl.idInput3.errors &&
              eduAtlasEmployeeFormControl.idInput3.touched
                ? 'danger'
                : 'basic'
            "
            id="idInput3"
            disabled="true"
            fullWidth
            formControlName="idInput3"
          />
        </div>
        <span>-</span>
        <div class="col-sm-2">
          <input
            type="text"
            nbInput
            maxlength="6"
            [status]="
              eduAtlasEmployeeFormControl.idInput4.errors &&
              eduAtlasEmployeeFormControl.idInput4.touched
                ? 'danger'
                : 'basic'
            "
            id="idInput4"
            fullWidth
            formControlName="idInput4"
          />
        </div>
        <div style="text-align: right;">
          <button type="submit" nbButton status="warning" style="color: black;" *ngIf="!edit">
            Fetch
          </button>
        </div>
      </div>
      <hr />
    </form>

    <form [formGroup]="employees" (ngSubmit)="onSubmit()">
      <p>Employee Basic Details</p>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="name">*Name</label>
            <input
              type="text"
              nbInput
              [status]="f.name.errors && f.name.touched ? 'danger' : 'basic'"
              id="name"
              fullWidth
              formControlName="name"
              placeholder="Name"
            />
            <small *ngIf="f.name.errors && f.name.touched">*Employee name is required</small>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
            <label for="email">*Email</label>
            <input
              type="email"
              nbInput
              [status]="f.employeeEmail.errors && f.employeeEmail.touched ? 'danger' : 'basic'"
              id="email"
              formControlName="employeeEmail"
              fullWidth
              placeholder="Email"
            />
            <small *ngIf="f.employeeEmail.errors && f.employeeEmail.touched"
              >*Employee email is required</small
            >
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
            <label for="contact">*Employee Contact Number</label>
            <input
              type="text"
              nbInput
              maxlength="10"
              [status]="f.contact.errors && f.contact.touched ? 'danger' : 'basic'"
              id="contact"
              formControlName="contact"
              fullWidth
              placeholder="Employee Contact No."
            />
            <small *ngIf="f.contact.errors && f.contact.touched"
              >*Employee Contact Number is required.</small
            >
          </div>
        </div>
        <div class="col-sm-3">
          <label>*Role</label>
          <nb-select placeholder="Select Role" 
          [status]="
          f.role.errors &&
          f.role.touched
            ? 'danger'
            : 'basic'"
          status="basic" formControlName="role">
            <nb-option [value]="null">Select Role</nb-option>
            <nb-option *ngFor="let role of roles" value="{{ role }}">{{ role }}</nb-option>
          </nb-select>
          <small *ngIf="f.role.errors && f.role.touched"
              >*Employee Role is required.</small
            >
        </div>
      </div>

      <hr />


      <div class="row">
        <div class="col-sm-12">
          <label for="address">Address</label>
          <textarea
            type="text"
            nbInput
            status="basic"
            fullWidth
            id="address"
            formControlName="address"
            fullWidth
            placeholder="Address"
          >
          </textarea>
        </div>
      </div>
      <div style="text-align: right;">
        <button type="submit" nbButton status="warning" style="color: black;">
          {{ employeeEduId ? 'Update Employee' : 'Add Employee' }}
        </button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
