<p style="color: black; font-weight: bold;">Add Students Here</p>

<nb-card status="warning">
  <nb-card-body>
    <form [formGroup]="students" (ngSubmit)="onSubmit()">
      <p>Student Basic Details</p>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              nbInput
              [status]="f.name.errors && submitted ? 'danger' : 'basic'"
              id="name"
              fullWidth
              formControlName="name"
              placeholder="Name"
            />
            <small *ngIf="f.name.errors && submitted">*Student name is required</small>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
            <label for="roll">*Roll Number</label>
            <input
              type="text"
              nbInput
              [status]="f.rollNo.errors && submitted ? 'danger' : 'basic'"
              id="roll"
              formControlName="rollNo"
              fullWidth
              placeholder="Roll Number"
            />
            <small *ngIf="f.rollNo.errors && submitted">*Student Roll no. is required</small>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
            <label for="email">*Email</label>
            <input
              type="email"
              nbInput
              [status]="f.studentEmail.errors && submitted ? 'danger' : 'basic'"
              id="email"
              formControlName="studentEmail"
              fullWidth
              placeholder="Email"
            />
            <small *ngIf="f.studentEmail.errors && submitted">*Student email is required</small>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
            <label for="contact">*Student Contact Number</label>
            <input
              type="text"
              nbInput
              maxlength="10"
              [status]="f.contact.errors && submitted ? 'danger' : 'basic'"
              id="contact"
              formControlName="contact"
              fullWidth
              placeholder="Student Contact No."
            />
            <small *ngIf="f.contact.errors && submitted"
              >*Student Contact Number is required.</small
            >
          </div>
        </div>
      </div>

      <hr />

      <p>Parents Details</p>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="pname">Parent Name</label>
            <input
              type="text"
              nbInput
              status="basic"
              id="pname"
              formControlName="parentName"
              fullWidth
              placeholder="Parent Name"
            />
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label for="pcontact">Parent Contact</label>
            <input
              type="text"
              nbInput
              status="basic"
              maxlength="10"
              id="pcontact"
              formControlName="parentContact"
              fullWidth
              placeholder="Parent Contact"
            />
            <small *ngIf="f.parentContact.errors">*Enter Correct Phone no.</small>
          </div>
        </div>

        <div class="col-sm-4">
          <label for="pemail">Parent Email Id</label>
          <input
            type="email"
            nbInput
            status="basic"
            id="pemail"
            formControlName="parentEmail"
            fullWidth
            placeholder="Parent Email Id"
          />
          <small *ngIf="f.parentEmail.errors">*Enter Correct Email</small>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <label for="address">Address</label>
          <textarea
            type="text"
            nbInput
            status="basic"
            fullWidth
            id="address"
            formControlName="address"
            fullWidth
            placeholder="Address"
          >
          </textarea>
        </div>
      </div>

      <hr />

      <p>Course Details</p>

      <div formGroupName="courseDetails" class="row">
        <div class="col-sm-3">
          <label for="cdetail">*Select Course</label>
          <nb-select
            placeholder="Select Course"
            status="basic"
            formControlName="course"
            (selectedChange)="onSelectCourse($event)"
          >
            <nb-option value="">Select Course</nb-option>
            <nb-option *ngFor="let i of courses" [value]="i._id">{{ i.name }}</nb-option>
          </nb-select>
        </div>

        <div class="col-sm-3">
          <label for="batch">Batch</label>
          <nb-select placeholder="Select Batch" formControlName="batch" status="basic">
            <nb-option value="">No Batch Assign</nb-option>
            <nb-option *ngFor="let item of batches" [value]="item._id">{{
              item.batchCode
            }}</nb-option>
          </nb-select>
        </div>

        <div class="col-sm-2">
          <label for="dis">Discount</label>
          <nb-select placeholder="Discount" formControlName="discount" status="basic"  (selectedChange)="onSelectDiscount($event)">
            <nb-option value="">Select Discount</nb-option>
            <nb-option *ngFor="let i of discounts" [value]="i._id">{{
              i.discountCode + ' (' + i.amount + '%)'
            }}</nb-option>
          </nb-select>
        </div>

        <div class="col-sm-2">
          <label for="adis">Additional Discount</label>
          <input
            type="text"
            nbInput
            status="basic"
            formControlName="additionalDiscount"
            fullWidth
            placeholder="Additional Discount"
            (input) = "calculateNetPayableAmount()"
          />
        </div>

        <div class="col-sm-2">
          <label for="net">Net Payable</label>
          <input
            type="text"
            nbInput
            id="net"
            status="basic"
            formControlName="netPayable"
            fullWidth
            disabled="true"
            placeholder="Net Payable"
          />
        </div>
      </div>

      <hr />

      <p>Fees</p>

      <div formGroupName="feeDetails" class="row">
        <div class="col-sm-3">
          <label for="fee">No. of Installments</label>
          <input
            type="text"
            id="fee"
            nbInput
            status="basic"
            formControlName="installments"
            fullWidth
            placeholder="No. of Installments"
          />
        </div>

        <div class="col-sm-3">
          <label for="no">Next Installment</label>
          <input
            nbInput
            status="basic"
            formControlName="nextInstallment"
            fullWidth
            placeholder="Next Installment"
            [nbDatepicker]="formpicker"
          />
          <nb-datepicker #formpicker></nb-datepicker>
        </div>

        <div class="col-sm-3">
          <label for="amt">Amount Collected</label>
          <input
            type="text"
            nbInput
            id="amt"
            status="basic"
            formControlName="amountCollected"
            fullWidth
            placeholder="Amount Collected"
            (input)="calculateAmountPending()"
          />
        </div>

        <div class="col-sm-3">
          <label>Mode</label>
          <nb-select placeholder="Select Mode" status="basic" formControlName="mode">
            <nb-option [value]="null">Select Mode</nb-option>
            <nb-option *ngFor="let i of modes" value="{{ i }}">{{ i }}</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="row" style="padding-top: 10px;">
        <div class="col-sm-3">
          <label for="fee">Amount Pending</label>
          <input
            type="text"
            id="amountPending"
            nbInput
            status="basic"
            fullWidth
            placeholder="Amount Pending"
            disabled = "true"
            [value]="amountPending"
          />
        </div>

      </div>

      <hr />

      <p>Material Record</p>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <textarea
              type="text"
              nbInput
              id="material"
              status="basic"
              fullWidth
              formControlName="materialRecord"
              placeholder="Material Record"
            >
            </textarea>
          </div>
        </div>
      </div>

      <div style="text-align: right;">
        <button type="submit" nbButton status="warning" style="color: black;">
          {{ studentEmail ? 'Update Student' : 'Add Student' }}
        </button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
