<p style="color: black; font-weight: bold;">Add Students Here</p>

<nb-card status="warning">
  <nb-card-body>
    <nb-checkbox
      (checkedChange)="changeAlreadyRegistered($event)"
      [checked]="alreadyRegistered"
      fullWidth
      status="warning"
      *ngIf="!edit"
      >Already Registered Student</nb-checkbox
    >
    <form
      [formGroup]="eduAtlasStudentIdForm"
      (ngSubmit)="onStudentSearch()"
      *ngIf="alreadyRegistered"
    >
      <p>Fetch student</p>
      <div class="row">
        <div class="col-sm-2">
          <input
            type="text"
            nbInput
            maxlength="3"
            [status]="
              eduAtlasStudentIdControl.idInput1.errors && eduAtlasStudentIdControl.idInput1.touched
                ? 'danger'
                : 'basic'
            "
            id="idInput1"
            disabled="true"
            fullWidth
            formControlName="idInput1"
          />
        </div>
        <span>-</span>
        <div class="col-sm-2">
          <input
            type="text"
            nbInput
            maxlength="4"
            [status]="
              eduAtlasStudentIdControl.idInput2.errors && eduAtlasStudentIdControl.idInput2.touched
                ? 'danger'
                : 'basic'
            "
            id="idInput2"
            fullWidth
            formControlName="idInput2"
          />
        </div>
        <span>-</span>
        <div class="col-sm-2">
          <input
            type="text"
            nbInput
            maxlength="3"
            [status]="
              eduAtlasStudentIdControl.idInput3.errors && eduAtlasStudentIdControl.idInput3.touched
                ? 'danger'
                : 'basic'
            "
            id="idInput3"
            disabled="true"
            fullWidth
            formControlName="idInput3"
          />
        </div>
        <span>-</span>
        <div class="col-sm-2">
          <input
            type="text"
            nbInput
            maxlength="6"
            [status]="
              eduAtlasStudentIdControl.idInput4.errors && eduAtlasStudentIdControl.idInput4.touched
                ? 'danger'
                : 'basic'
            "
            id="idInput4"
            fullWidth
            formControlName="idInput4"
          />
        </div>
        <div style="text-align: right;">
          <button type="submit" nbButton status="warning" style="color: black;" *ngIf="!edit">
            Fetch
          </button>
        </div>
      </div>
      <hr />
    </form>

    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
      <p>Student Basic Details</p>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              nbInput
              [status]="f.name.errors && f.name.touched ? 'danger' : 'basic'"
              id="name"
              fullWidth
              formControlName="name"
              placeholder="Name"
            />
            <small *ngIf="f.name.errors && f.name.touched">*Student name is required</small>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label for="email">*Email</label>
            <input
              type="email"
              nbInput
              [status]="f.studentEmail.errors && f.studentEmail.touched ? 'danger' : 'basic'"
              id="email"
              formControlName="studentEmail"
              fullWidth
              placeholder="Email"
            />
            <small *ngIf="f.studentEmail.errors && f.studentEmail.touched"
              >*Student email is required</small
            >
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label for="contact">*Student Contact Number</label>
            <input
              type="text"
              nbInput
              maxlength="10"
              [status]="f.contact.errors && f.contact.touched ? 'danger' : 'basic'"
              id="contact"
              formControlName="contact"
              fullWidth
              placeholder="Student Contact No."
            />
            <small *ngIf="f.contact.errors && f.contact.touched"
              >*Student Contact Number is required.</small
            >
          </div>
        </div>
      </div>

      <hr />

      <p>Parents Details</p>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="pname">Parent Name</label>
            <input
              type="text"
              nbInput
              status="basic"
              id="pname"
              formControlName="parentName"
              fullWidth
              placeholder="Parent Name"
            />
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label for="p-contact">Parent Contact</label>
            <input
              type="text"
              nbInput
              status="basic"
              maxlength="10"
              id="p-contact"
              formControlName="parentContact"
              fullWidth
              placeholder="Parent Contact"
            />
            <small *ngIf="f.parentContact.errors">*Enter Correct Phone no.</small>
          </div>
        </div>

        <div class="col-sm-4">
          <label for="p-email">Parent Email Id</label>
          <input
            type="email"
            nbInput
            status="basic"
            id="p-email"
            formControlName="parentEmail"
            fullWidth
            placeholder="Parent Email Id"
          />
          <small *ngIf="f.parentEmail.errors">*Enter Correct Email</small>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <label for="address">Address</label>
          <textarea
            type="text"
            nbInput
            status="basic"
            fullWidth
            id="address"
            formControlName="address"
            fullWidth
            placeholder="Address"
          >
          </textarea>
        </div>
      </div>

      <hr />

      <p>Course Details</p>

      <div formGroupName="courseDetails" class="row">
        <div class="col-sm-3">
          <label for="course">*Select Course</label>
          <nb-select
            placeholder="Select Course"
            id="course"
            status="basic"
            formControlName="course"
            (selectedChange)="onSelectCourse($event)"
          >
            <nb-option value="">Select Course</nb-option>
            <nb-option *ngFor="let i of courses" [value]="i._id">{{ i.name }}</nb-option>
          </nb-select>
        </div>

        <div class="col-sm-3">
          <label for="batch">Batch</label>
          <nb-select placeholder="Select Batch" formControlName="batch" status="basic">
            <nb-option value="">No Batch Assign</nb-option>
            <nb-option *ngFor="let item of batches" [value]="item._id">{{
              item.batchCode
            }}</nb-option>
          </nb-select>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
            <label for="roll">*Roll Number</label>
            <input
              type="text"
              pattern="\d*"
              nbInput
              [status]="'basic'"
              id="roll"
              formControlName="rollNo"
              fullWidth
              placeholder="Roll Number"
            />
            <!-- <small *ngIf="f.rollNo.errors && f.rollNo.touched">*Student Roll no. is required</small> -->
          </div>
        </div>

        <div class="col-sm-3">
          <label for="dis">Discount</label>
          <nb-select
            placeholder="Discount"
            formControlName="discount"
            status="basic"
            (selectedChange)="onSelectDiscount($event)"
          >
            <nb-option value="">Select Discount</nb-option>
            <nb-option *ngFor="let i of discounts" [value]="i._id">{{
              i.discountCode + ' (' + i.amount + (i.discountType === 'percentage' ? '%' : '') + ')'
            }}</nb-option>
          </nb-select>
        </div>

        <div class="col-sm-3">
          <label for="additionalDiscount">Additional Discount</label>
          <input
            type="text"
            nbInput
            status="basic"
            formControlName="additionalDiscount"
            fullWidth
            placeholder="Additional Discount"
            (input)="calculateNetPayableAmount()"
          />
        </div>

        <div class="col-sm-3">
          <label for="net">Net Payable</label>
          <input
            type="text"
            nbInput
            id="net"
            status="basic"
            formControlName="netPayable"
            fullWidth
            placeholder="Net Payable"
            disabled="true"
          />
        </div>
      </div>

      <hr />

      <p>Fees</p>

      <div class="row" [formGroup]="feeDetailsForm">
        <div class="col-12">
          <div class="row">
            <div class="col-sm-3">
              <label for="installmentType">Installment Type</label>
              <nb-select
                placeholder="Select Installment Type"
                formControlName="installmentType"
                status="basic"
                (selectedChange)="onSelectInstallmentType($event)"
              >
                <nb-option value="0">Paid Once</nb-option>
                <nb-option value="1">Custom</nb-option>
              </nb-select>
            </div>

            <div class="col-sm-3">
              <label for="noOfInstallments">No. of Installments</label>
              <input
                type="text"
                pattern="\d*"
                maxlength="2"
                id="noOfInstallments"
                nbInput
                status="basic"
                formControlName="noOfInstallments"
                fullWidth
                placeholder="No. of Installments"
                (input)="generateNoOfInstallments($event.target.value)"
              />
            </div>

            <div class="col-sm-3">
              <label for="totalAmount">Total Amount</label>
              <input
                type="text"
                pattern="\d*"
                nbInput
                id="totalAmount"
                status="basic"
                formControlName="totalAmount"
                fullWidth
                placeholder="Total Amount"
                disabled="true"
              />
            </div>

            <div class="col-sm-3">
              <label for="pendingAmount">Pending Amount</label>
              <input
                type="text"
                pattern="\d*"
                nbInput
                id="pendingAmount"
                status="basic"
                formControlName="pendingAmount"
                fullWidth
                placeholder="Pending Amount"
                disabled="true"
              />
            </div>

            <div class="col-sm-3">
              <label for="amountCollected">Amount Collected</label>
              <input
                type="text"
                pattern="\d*"
                nbInput
                id="amountCollected"
                status="basic"
                formControlName="amountCollected"
                fullWidth
                placeholder="Amount Collected"
                disabled="true"
              />
            </div>

            <div class="col-sm-3">
              <label for="date">Date</label>
              <input
                type="date"
                nbInput
                status="basic"
                formControlName="date"
                fullWidth
                placeholder="Installment Date"
                (input)="dateChanged($event.target.value)"
              />
              <!-- [nbDatepicker]="datePicker"
              <nb-datepicker #datePicker></nb-datepicker> -->
            </div>
          </div>

          <hr />

          <div class="row">
            <div class="col-12">
              <div class="table-responsive">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th>Installment No.</th>
                      <th>Paid</th>
                      <th>Installment Date</th>
                      <th>Amount</th>
                      <th>payment Mode</th>
                      <th>Amount Pending</th>
                    </tr>
                  </thead>
                  <tbody formArrayName="installments">
                    <ng-container
                      *ngFor="
                        let installment of feeDetailsForm.get('installments')['controls'];
                        let i = index
                      "
                    >
                      <tr [formGroupName]="i">
                        <td>
                          <input
                            type="text"
                            pattern="\d*"
                            nbInput
                            status="basic"
                            formControlName="installmentNo"
                            fullWidth
                            placeholder="Installment No"
                            disabled="true"
                          />
                        </td>

                        <td>
                          <nb-checkbox
                            formControlName="paidStatus"
                            status="basic"
                            (checkedChange)="onPaidAmount($event, i)"
                          ></nb-checkbox>
                        </td>

                        <td>
                          <input
                            type="date"
                            nbInput
                            status="basic"
                            formControlName="paidOn"
                            fullWidth
                            placeholder="Installment Date"
                            disabled="true"
                          />
                          <!-- [nbDatepicker]="datePicker"
                          <nb-datepicker #datePicker></nb-datepicker> -->
                        </td>

                        <td>
                          <input
                            type="text"
                            pattern="\d*"
                            nbInput
                            status="basic"
                            fullWidth
                            formControlName="amount"
                            placeholder="Amount"
                            disabled="true"
                          />
                        </td>

                        <td>
                          <nb-select
                            placeholder="Select Mode"
                            status="basic"
                            formControlName="paymentMode"
                            placeholder="Payment Mode"
                            (selectedChange)="onSelectPaymentMode()"
                          >
                            <nb-option *ngFor="let mode of modes" [value]="mode">{{
                              mode
                            }}</nb-option>
                          </nb-select>
                        </td>

                        <td>
                          <input
                            type="text"
                            pattern="\d*"
                            nbInput
                            status="basic"
                            formControlName="amountPending"
                            fullWidth
                            placeholder="Amount Pending"
                            disabled="true"
                          />
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr />

      <p>Material Record</p>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <textarea
              type="text"
              nbInput
              id="material"
              status="basic"
              fullWidth
              formControlName="materialRecord"
              placeholder="Material Record"
            >
            </textarea>
          </div>
        </div>
      </div>

      <div style="text-align: right;">
        <button type="submit" nbButton status="warning" style="color: black;">
          {{ studentEduId ? 'Update Student' : 'Add Student' }}
        </button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
