
<div class="text-right">
<button nbButton status="warning" (click)="back()" style="color:black;">Manage Discount</button>
</div>
<p style="color:black; font-weight:bold">Define Discount</p>
    <nb-card>

      <nb-card-body>

        <form [formGroup]="discount" (ngSubmit)="onSubmit()">
       
              <div class="row">
                <div class="col-sm-6">
                  <label for="code">Code</label>
                  <input type="text" nbInput fullWidth id="code" status="basic" formControlName="discountCode" [status]="f.discountCode.errors && submitted ? 'danger':'basic'" placeholder="Code">
                  <small *ngIf="f.discountCode.errors && submitted" style="display: block;">*This field req</small>
                </div>
                <div class="col-sm-6">
                  <label for="amt">Amount in %</label>
                  <input type="text" nbInput fullWidth id="amt" status="basic" formControlName="amount" [status]="f.amount.errors && submitted ? 'danger':'basic'" placeholder="Amount in %">
                  <small *ngIf="f.amount.errors && submitted" style="display: block;">*This field req</small>
                </div>
                
              </div>

            <div class="mt-3">
              <label for="des">Description</label>
            <textarea name="discription" nbInput  id="des" fullWidth status="basic" cols="40" rows="4" formControlName="description" placeholder="Description(Optional)"></textarea>
            </div>
<div class="mt-4" style="text-align:right">
            <button type="submit" nbButton status="warning" style="color: black;">Submit</button>
     </div>    
      
         
            
           
       
  
        </form>
      </nb-card-body>
    </nb-card>

