<div class="text-right">
  <button nbButton status="warning" (click)="back()" style="color: black;">Manage Schedule</button>
</div>
<p style="font-weight: bold;">Add Schedule</p>
<nb-card *ngIf="display">
  <nb-card-body>
    <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-3">
          <label for="course">*Select Course</label>
          <nb-select
            placeholder="Select Course"
            status="basic"
            fullWidth
            formControlName="courseId"
            (selectedChange)="onSelectCourse($event)"
          >
            <nb-option value="">Select Course</nb-option>
            <nb-option *ngFor="let course of institute.course" [value]="course._id">{{
              course.name
            }}</nb-option>
          </nb-select>
          <div *ngIf="scheduleForm.get('courseId').invalid && scheduleForm.get('courseId').touched">
            <small>*This field is required</small>
          </div>
        </div>

        <div class="col-sm-3">
          <label for="batch">Batch</label>
          <nb-select placeholder="Select Batch" formControlName="batchId" fullWidth status="basic">
            <nb-option value="">Select Batch</nb-option>
            <nb-option *ngFor="let batch of batches" [value]="batch._id">{{
              batch.batchCode
            }}</nb-option>
          </nb-select>
          <div *ngIf="scheduleForm.get('batchId').invalid && scheduleForm.get('batchId').touched">
            <small>*This field is required</small>
          </div>
        </div>

        <div class="col-sm-3">
          <label for="scheduleStart">From</label>
          <input
            type="date"
            nbInput
            id="scheduleStart"
            status="basic"
            formControlName="scheduleStart"
            fullWidth
            placeholder="Schedule From"
            (input)="fromDatePicked($event.target.value)"
          />

          <div
            *ngIf="
              scheduleForm.get('scheduleStart').invalid && scheduleForm.get('scheduleStart').touched
            "
          >
            <small>*This field is required</small>
          </div>
        </div>

        <div class="col-sm-3">
          <label for="scheduleEnd">To</label>
          <input
            type="date"
            nbInput
            id="scheduleEnd"
            status="basic"
            formControlName="scheduleEnd"
            fullWidth
            placeholder="Schedule To"
            (input)="toDatePicked($event.target.value)"
          />
          <div
            *ngIf="
              scheduleForm.get('scheduleEnd').invalid && scheduleForm.get('scheduleEnd').touched
            "
          >
            <small>*This field is required</small>
          </div>
          <div
            *ngIf="scheduleForm.hasError('invalidDate') && scheduleForm.get('scheduleEnd').touched"
          >
            <small>*Select Valid End Date</small>
          </div>
        </div>

        <div class="col-sm-3">
          <label for="scheduleStartTime">Schedule Start Time</label>
          <input
            type="time"
            nbInput
            id="scheduleStartTime"
            status="basic"
            [value]="scheduleStartTime"
            fullWidth
            placeholder="scheduleStartTime"
            (input)="startTimePicked($event.target.value)"
          />
        </div>

        <div class="col-sm-3">
          <label for="scheduleEndTime">Schedule End Time</label>
          <input
            type="time"
            nbInput
            id="scheduleEndTime"
            status="basic"
            [value]="scheduleEndTime"
            fullWidth
            placeholder="End Time"
            (input)="endTimePicked($event.target.value)"
          />
          <div
            *ngIf="
              scheduleForm.get('scheduleEnd').invalid && scheduleForm.get('scheduleEnd').touched
            "
          >
            <small>*This field is required</small>
          </div>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th>Select</th>
                  <th>Day</th>
                  <th>Date</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Topic</th>
                  <th>Teacher</th>
                </tr>
              </thead>
              <tbody formArrayName="days">
                <ng-container
                  *ngFor="let scheduleDay of scheduleForm.get('days')['controls']; let i = index"
                >
                  <tr [formGroupName]="i">
                    <td>
                      <nb-checkbox formControlName="select"> </nb-checkbox>
                    </td>
                    <td>
                      <input
                        type="text"
                        nbInput
                        formControlName="day"
                        status="basic"
                        fullWidth
                        placeholder="Day"
                        disabled="true"
                      />
                    </td>
                    <td>
                      <input
                        type="date"
                        nbInput
                        status="basic"
                        formControlName="date"
                        fullWidth
                        placeholder="Date"
                        disabled="true"
                      />
                      <!-- [nbDatepicker]="datePicker"
                      <nb-datepicker #datePicker></nb-datepicker> -->
                    </td>

                    <td>
                      <input
                        type="time"
                        nbInput
                        status="basic"
                        formControlName="startTime"
                        fullWidth
                        placeholder="Start Time"
                      />
                    </td>

                    <td>
                      <input
                        type="time"
                        nbInput
                        status="basic"
                        formControlName="endTime"
                        fullWidth
                        placeholder="End Time"
                      />
                    </td>

                    <td>
                      <input
                        type="text"
                        nbInput
                        status="basic"
                        formControlName="topic"
                        fullWidth
                        placeholder="Topic"
                      />
                    </td>

                    <td>
                      <nb-select
                        placeholder="Select Teacher"
                        status="basic"
                        formControlName="teacher"
                        fullWidth
                      >
                        <nb-option value="">Select Teacher</nb-option>
                        <nb-option *ngFor="let teacher of teachers" [value]="teacher._id">{{
                          teacher.basicDetails.name
                        }}</nb-option>
                      </nb-select>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="mt-4">
        <nb-checkbox formControlName="recurrence" (checkedChange)="recurrence($event)">
          Ask for recurrence at the time of definition
        </nb-checkbox>
      </div>

      <div class="text-right mt-4">
        <button type="submit" nbButton status="warning" style="color: black;">Submit</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
