<div class="wrapper fadeInDown" style="background-color: #fce062;">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- <h2 class="inactive underlineHover">Sign Up </h2> -->

    <!-- Login Form -->
    <!-- <form> -->

    <nb-layout style="background-color: white;">
      <nb-layout-column style="background-color: white;">
        <nb-card style="box-shadow: none;">
          <nb-card-body class="text-center">
            <div class="fadeIn first">
              <img src="assets/img/EA FAVI.png" id="icon" alt="User Icon" style="width: 30%;" />
            </div>

            <h2 class="font-weight-bolder d-inline-block" style="font-size: 25px; color: black;">
              Varify OTP
            </h2>
            <input type="text" nbInput placeholder="Enter OTP" [(ngModel)]="otp" />
            <div class="mt-4">
              <button nbButton status="success" (click)="verifyOtp(otp)">Verify</button>
            </div>
          </nb-card-body>
        </nb-card>
      </nb-layout-column>
    </nb-layout>
  </div>
</div>
