<div class="row mb-4">
  <div class="col-sm-6">
    <p class="font-weight-bolder">Employees</p>
  </div>
</div>

<nb-card *ngIf="employees.length > 0">
  <nb-card-body>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Contact</th>
          <th>Role</th>
          <!-- <th>Course Name</th> -->
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let employee of employees; let i = index">
          <td>{{ employee.basicDetails.name }}</td>
          <td>{{ employee.basicDetails.employeeContact }}</td>
          <td>{{ employee.instituteDetails[0].role }}</td>
          <!-- <td>{{ employee.courseDetails.course }}</td> -->
          <td>
            <button class="mr-2" nbButton status="primary" (click)="view(employee.eduAtlasId,employee._id)">
              View
            </button>
            <button class="mr-2" nbButton status="warning`" (click)="edit(employee.eduAtlasId,employee._id)">
              Edit
            </button>
            <button
              class="mr-2"
              nbButton
              status="danger"
              (click)="delete(employee._id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
<div *ngIf="employees.length == 0" class="noRecFound">
  No Records Found
</div>
