<nb-card *ngIf="!display">
  <nb-card-body>
    <div class="text-center">
      <img src="../../../assets/img/institute.png" width="100px" height="100px" />
      <h3 class="mt-4">NO INSTITUTE ADDED</h3>
      <small *ngIf="showAddInstituteBtn"
        >Click on add Institute Button to create other branches</small
      >
      <div class="mt-4" *ngIf="showAddInstituteBtn">
        <button nbButton status="warning" style="color: black;" (click)="onClick()">
          ADD INSTITUTE
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<div class="row" *ngIf="display">
  <div class="col-sm-6">
    <nb-card status="basic" style="max-height: 35vh;">
      <nb-card-header style="background-color: #ffd500;">
        MY INSTITUTES
      </nb-card-header>
      <nb-card-body>
        <!-- <nb-list>
          <nb-list-item> -->
        <ng-container>
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <ng-container *ngFor="let item of institutes; let i = index">
                  <tr class="border-bottom" *ngIf="item.active">
                    <!-- <td>
                      <nb-user
                        size="large"
                        name="John Doe"
                        title="Engineer"
                        picture="item.basicInfo.logo.secure_url"
                      ></nb-user>
                    </td> -->
                    <td class="td-img">
                      <span
                        ><img
                          [src]="item.basicInfo.logo.secure_url"
                          width="35px"
                          height="35px"
                          style="border: 1px solid #ffd500; border-radius: 100%;"
                      /></span>
                    </td>
                    <td>
                      <span class=""
                        ><strong>{{ item.basicInfo.name }}</strong></span
                      >
                    </td>
                    <td>
                      <span class="">{{ item.address.city }}</span>
                    </td>
                    <td class="td-img">
                      <span class="pointer float-right" (click)="viewInstitute(item._id)">
                        <img src="../../../assets/img/rarrow.png" width="30px" height="30px" />
                      </span>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          <!-- <a (click)="viewInstitute(item._id)" style="width: 100%; cursor: pointer;">
            <span
              ><img
                [src]="item.basicInfo.logo.secure_url"
                width="30px"
                height="30px"
                style="border-radius: 100%;"
            /></span>

            <span class="ml-3">{{ item.basicInfo.name }}</span>
            <span class="ml-3">{{ item.address.city }}</span>
            <span style="float: right;">
              <img src="../../../assets/img/rarrow.png" width="30px" height="30px" />
            </span>
          </a> -->
        </ng-container>
        <!-- </nb-list-item>
        </nb-list> -->
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-sm-6">
    <nb-card *ngIf="showAddInstituteBtn">
      <nb-card-body>
        <div class="row">
          <div class="col-sm-2">
            <img src="../../../assets/img/home-yellow.png" alt="Add Institute" />
          </div>
          <div class="col-sm-8">
            <p class="font-weight-bold pt-3">
              ADD INSTITUTE
            </p>
          </div>
          <div class="col-sm-2">
            <a routerLink="/pages/membership" class="mt-3">
              <img src="assets/img/rarrow.png" width="30px" height="30px" />
            </a>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-body>
        <p class="font-weight-bold">
          SMS BALANCE
        </p>
        <h2>0 SMS Pending</h2>
      </nb-card-body>
    </nb-card>
  </div>
</div>
