td {
  padding-right: 50px;
}
nb-card-header {
  color: #ffda00;
}
.small {
  display: block;
}
#date {
  width: 26%;
  float: right;
  padding: 11px;
  border-radius: 6px;
  border: none;
  font-size: 11px;
  text-align: center;
}
nb-list-item:first-child{
  width: 100%;
}