td {
  padding-right: 50px;
}
nb-card-header {
  color: #ffd500;
}
.small {
  display: block;
}
#date {
  width: 26%;
  float: right;
  padding: 11px;
  border-radius: 6px;
  border: none;
  font-size: 11px;
  text-align: center;
}
