<div>
  <button class="btn btn-yellow float-right" (click)="addLead()">
    Add Lead
  </button>
  <p style="font-weight: bold;">Manage Leads</p>
</div>
<br />
<nb-card status="info">
  <nb-card-header>
    <div class="row mb-2" *ngIf="courses">
      <div class="col-sm-6">
        <h3 class="text-white">Leads</h3>
      </div>
      <div class="col-sm-3">
        <nb-select
          placeholder="Select Course"
          status="basic"
          fullWidth
          (selectedChange)="onSelectCourse($event)"
        >
          <nb-option value="">Select Course</nb-option>
          <nb-option *ngFor="let course of courses" [value]="course._id">{{
            course.name
          }}</nb-option>
        </nb-select>
      </div>

      <div class="col-sm-3">
        <nb-select
          placeholder="Select Status"
          fullWidth
          status="basic"
          (selectedChange)="onSelectStatus($event)"
        >
          <nb-option value="">Select Status</nb-option>
          <nb-option *ngFor="let item of status" [value]="item">{{ item }}</nb-option>
        </nb-select>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <table class="table table-borderless text-center" *ngIf="leads; else noLeads">
      <thead>
        <tr>
          <th>Lead Name</th>
          <th>Lead Email</th>
          <th>Lead Contact</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lead of leads; let i = index">
          <td>{{ lead.leadName }}</td>
          <td>{{ lead.leadEmail }}</td>
          <td>{{ lead.leadContact }}</td>
          <td>{{ lead.status }}</td>
          <td class="text-right">
            <button class="mr-3 mb-2 btn btn-yellow" (click)="edit(lead._id)">Edit</button>
            <button class="mb-2" nbButton status="danger" (click)="delete(lead._id, i)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #noLeads>
      <p class="mt-5 mb-5 text-center">No Record Found</p>
    </ng-template>
  </nb-card-body>
</nb-card>
