<div class="wrapper fadeInDown" style="background-color: #fce062;">
  <div id="formContent">
    <!-- Tabs Titles -->
    <nb-layout>
      <nb-layout-column style="background-color: white;">
        <nb-card style="box-shadow: none;">
          <nb-card-body class="text-center">
            <div class="text-left"></div>
            <div class="fadeIn first">
              <img src="assets/img/EA FAVI.png" id="icon" alt="User Icon" style="width: 25%;" />
            </div>
            <h3>Forgot Password ?</h3>

            <form [formGroup]="forgot" (ngSubmit)="getOtp()">
              <input
                type="text"
                maxlength="10"
                formControlName="phone"
                placeholder="Enter Phone Number"
              />
              <input
                type="text"
                formControlName="otp"
                placeholder="Enter OTP"
                [ngClass]="{ hidden: display }"
              />
              <input
                type="password"
                formControlName="password"
                placeholder="Enter New Password"
                [ngClass]="{ hidden: displayPass }"
              />
              <button type="submit">{{ display ? 'getOtp' : 'Varify' }}</button>
            </form>
            <span
              >Login from here:
              <a class="btn btn-link d-inline-block" routerLink="/login">Login</a></span
            >

            <!-- <nb-step [stepControl]="otpForm" label="Set Password">
      <form [formGroup]="otpForm" (ngSubmit)="varifyOtp()">
    
        <input type="text" nbInput maxlength="10" formControlName="phone" placeholder="Enter Phone Number">
        <input type="text" nbInput formControlName="OTP" placeholder="Enter OTP" [ngClass] = "{'hidden': display}">

      </form>
      </nb-step> -->
          </nb-card-body>
        </nb-card>
      </nb-layout-column>
    </nb-layout>
  </div>
</div>
