<h4 class="font-weight-bolder text-center mb-5" style="text-transform: uppercase;" *ngIf="display">
  {{ myInstitute.institute.basicInfo.name }}
</h4>

<div class="row" [hidden]="!display">
  <div class="col-sm-6">
    <nb-card status="warning" style="max-height: 35vh;">
      <nb-card-header>
        UPCOMING CLASS
        <input id="date" placeholder="Date" [nbDatepicker]="formPicker" />
        <nb-datepicker #formPicker></nb-datepicker>
      </nb-card-header>
      <nb-card-body>
        <p class="text-center">No Upcoming Classes Available</p>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-sm-6">
    <nb-card status="warning" style="max-height: 35vh;">
      <nb-card-header>STUDENT REQUESTS </nb-card-header>
      <nb-card-body>
        <p class="text-center">No Student Request Available</p>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row" [hidden]="!display">
  <div class="col-sm-6">
    <nb-card style="max-height: 35vh;">
      <nb-card-header style="background-color: skyblue; color: black;">
        STUDY MATERIALS
      </nb-card-header>
      <nb-card-body>
        <p class="text-center">No Study Material Available</p>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-sm-6">
    <nb-card status="warning" style="max-height: 35vh;">
      <nb-card-header>LEADS</nb-card-header>
      <nb-card-body>
        <p class="text-center">No Leads Available</p>
      </nb-card-body>
    </nb-card>
  </div>
</div>
