<ng-container *ngIf="display">
  <div class="row">
    <div class="col-12">
      <nb-card>
        <nb-card-header>
          <span
            ><img
              class="my-auto float-left"
              [src]="myInstitute.institute.basicInfo.logo.secure_url"
              width="40px"
              height="40px"
              style="border-radius: 100%; border: 1px solid #000;"
          /></span>
          <span
            class="ml-3 my-auto"
            style="color: #ffd500; font-size: 30px; padding-top: 10px; font-weight: bold;"
          >
            {{ myInstitute.institute.basicInfo.name | uppercase }}
          </span>
          <span
            style="
              font-size: 10px;
              font-weight: normal;
              background-color: #009acd;
              color: #fff;
              padding: 2px 8px;
              border-radius: 10px;
            "
            >{{ myInstitute.institute.currentPlan | uppercase }}</span
          >

          <span class="float-right mr-3">
            <span>Total Students: {{ '0' }}</span
            ><br />
            <span>Total Batches: {{ '0' }}</span>
          </span>
        </nb-card-header>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <nb-card class="card-height-1">
        <nb-card-body>
          <nb-tabset fullWidth>
            <nb-tab tabTitle="UPCOMING CLASSES">
              <div class="table-responsive" *ngIf="classes.length > 0; else noClasses">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Topic</th>
                      <th>startTime</th>
                      <th>Host</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let course of classes; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ course.topic }}</td>
                      <td>{{ course.startTime }}</td>
                      <td>{{ course.hostName }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <ng-template #noClasses>
                <p class="text-center pt-5">No Classes</p>
              </ng-template>
            </nb-tab>
            <nb-tab tabTitle="PENDING FEES">
              <div class="table-responsive" *ngIf="pendingFees.length > 0; else noFees">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Student</th>
                      <th>Course</th>
                      <th>Fees</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let fees of pendingFees; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ fees.studentName }}</td>
                      <td>{{ fees.courseName }}</td>
                      <td>{{ fees.pendingAmount }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <ng-template #noFees>
                <p class="text-center pt-5">No Fees</p>
              </ng-template>
            </nb-tab>
            <nb-tab tabTitle="STUDENT REQUESTS">
              <div class="table-responsive" *ngIf="studentRequest.length > 0; else noStudents">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Contact</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let req of studentRequest; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ req.studentName }}</td>
                      <td>{{ req.contact }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <ng-template #noStudents>
                <p class="text-center pt-5">No Student Requests</p>
              </ng-template>
            </nb-tab>
            <nb-tab tabTitle="FOLLOW UPS">
              <div class="table-responsive" *ngIf="newLeads.length > 0; else noLeads">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Contact</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let lead of newLeads; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ lead.leadName }}</td>
                      <td>{{ lead.leadContact }}</td>
                      <td>{{ lead.status }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <ng-template #noLeads>
                <p class="text-center pt-5">No New Leads</p>
              </ng-template>
            </nb-tab>
          </nb-tabset>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <nb-card class="card-height-2">
            <nb-card-body>
              <div class="image-container">
                <img class="inst-logo" src="../../../assets/img/home-yellow.png" alt="Institute" />
              </div>
              <br />
              <button
                class="btn btn-yellow"
                [routerLink]="'/pages/institute/add-students/' + this.instituteId"
              >
                ADD STUDENT
              </button>
            </nb-card-body>
          </nb-card>
        </div>

        <div class="col-md-6">
          <nb-card class="card-height-2">
            <nb-card-body>
              <div class="image-container">
                <img class="inst-logo" src="../../../assets/img/home-yellow.png" alt="Institute" />
              </div>
              <br />
              <button class="btn btn-yellow">COLLECT INSTALLMENT</button>
            </nb-card-body>
          </nb-card>
        </div>

        <div class="col-md-6">
          <nb-card class="card-height-2">
            <nb-card-body>
              <div class="image-container">
                <img class="inst-logo" src="../../../assets/img/home-yellow.png" alt="Institute" />
              </div>
              <br />
              <button
                class="btn btn-yellow"
                [routerLink]="'/pages/institute/add-schedule/' + this.instituteId"
              >
                ADD CLASS
              </button>
            </nb-card-body>
          </nb-card>
        </div>

        <div class="col-md-6">
          <nb-card class="card-height-2">
            <nb-card-body>
              <div class="image-container">
                <img class="inst-logo" src="../../../assets/img/home-yellow.png" alt="Institute" />
              </div>
              <br />
              <button
                class="btn btn-yellow"
                [routerLink]="'/pages/institute/attandance/' + this.instituteId"
              >
                ADD ATTENDANCE
              </button>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <nb-card>
        <nb-card-header style="background-color: #31bc9b;">
          <span style="font-size: 16px; color: #fff;">MESSAGE BOARD</span>
        </nb-card-header>
        <nb-card-body class="body-height-1"></nb-card-body>
      </nb-card>
    </div>

    <div class="col-md-6">
      <nb-card>
        <nb-card-header>
          REVENUE AND STUDENT GRAPH
        </nb-card-header>
        <nb-card-body class="body-height-1"></nb-card-body>
      </nb-card>
    </div>
  </div>
  <!-- 
  <div class="row" [hidden]="!display">
    <div class="col-sm-6">
      <nb-card [hidden]="false">
        <nb-card-header style="background-color: #ffd500;">
          <span>UPCOMING CLASS</span>
          <input type="date" id="date" placeholder="Pick Date" />
        </nb-card-header>
        <nb-card-body style="max-height: 35vh;">
          <p class="text-center">No Upcoming Class Available</p>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-sm-6">
      <nb-card>
        <nb-card-header style="background-color: #ffd500;">STUDENT REQUESTS </nb-card-header>
        <nb-card-body style="max-height: 35vh;">
          <p class="text-center">No Requests Available</p>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row" [hidden]="!display">
    <div class="col-sm-6">
      <nb-card [hidden]="false">
        <nb-card-header style="background-color: #ffd500;">
          PENDING FEES
          <input type="date" id="date" placeholder="Pick Date" />
        </nb-card-header>
        <nb-card-body style="max-height: 35vh;">
          <p class="text-center">No Pending Fees Available</p>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-sm-6">
      <nb-card [hidden]="false">
        <nb-card-header style="background-color: #ffd500;">LEADS </nb-card-header>
        <nb-card-body style="max-height: 35vh;">
          <p class="test-center">No Leads</p>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="row" [hidden]="!display">
    <div class="col-sm-6">
      <nb-card [hidden]="false">
        <nb-card-header style="background-color: #ffd500;">Messages</nb-card-header>
        <nb-card-body style="max-height: 35vh;">
          <p class="test-center">No Messages</p>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-sm-6">
      <nb-card [hidden]="false">
        <nb-card-header style="background-color: #ffd500;">New Leads</nb-card-header>
        <nb-card-body style="max-height: 35vh;">
          <p class="test-center">No New Leads</p>
        </nb-card-body>
      </nb-card>
    </div>
  </div> -->
</ng-container>
