<button nbButton (click)="back()" status="warning" style="color: black;">Manage Schedule</button>
<nb-card *ngIf="display">
  <nb-card-body>
    <div class="row">
      <div class="col-sm-6">
        <h6>Course</h6>
      </div>
      <div class="col-sm-6">
        <p>{{ schedule.courseId }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h6>Batch</h6>
      </div>
      <div class="col-sm-6">
        <p>{{ schedule.batchId }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h6>Schedule Start</h6>
      </div>
      <div class="col-sm-6">
        <p>{{ schedule.scheduleStart }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h6>Schedule End</h6>
      </div>
      <div class="col-sm-6">
        <p>{{ schedule.scheduleEnd }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h6>Recurrence at the time of definition</h6>
      </div>
      <div class="col-sm-6">
        {{ schedule.recurrence === 'true' ? 'Yes' : 'No' }}
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th>#</th>
                <th>Day</th>
                <th>Date</th>
                <th>Time</th>
                <th>Topic</th>
                <th>Teacher</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let day of schedule.days; let i = index">
                <td>
                  {{ i + 1 }}
                </td>
                <td>
                  {{ day.day }}
                </td>
                <td>
                  {{ day.date }}
                </td>
                <td>
                  {{ day.time ? day.time : '--' }}
                </td>
                <td>
                  {{ day.topic ? day.topic : '--' }}
                </td>
                <td>
                  {{ day.teacher ? day.teacher : '--' }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
