<nb-layout>
  <nb-layout-column>
    <div class="row">
      <div class="col-sm-12 text-center">
        <nb-card>
          <nb-card-body>
            <nb-list>
              <nb-list-item>
                <div class="row" style="width: 100%;">
                  <div class="col-sm-6"></div>
                  <div class="col-sm-2" style="background-color: #ffde00; width: 50%;">
                    <span style="color: white;">LITE</span><br />
                    <span><b>Rs. 4999</b></span>
                    <small class="d-block">(+18% GST)</small>
                  </div>
                  <div class="col-sm-1"></div>
                  <div class="col-sm-2" style="background-color: #009acd; width: 50%;">
                    <span><b>POWER</b></span
                    ><br />
                    <span style="color: white;"><b>Rs. 14999</b></span>
                    <small class="d-block" style="color: white;">(+18% GST)</small>
                  </div>
                </div>
              </nb-list-item>
              <nb-list-item>
                <div style="display: grid; grid-template-columns: 40% auto auto; width: 100%;">
                  <span class="text-left">CLASS MANAGEMENT</span>
                  <div class="text-center">
                    <nb-icon icon="checkmark-outline" status="success"></nb-icon>
                  </div>
                  <div class="text-center">
                    <nb-icon icon="checkmark-outline" status="success"></nb-icon>
                  </div>
                </div>
              </nb-list-item>
              <nb-list-item>
                <div
                  class="text-left"
                  style="display: grid; grid-template-columns: 40% auto auto; width: 100%;"
                >
                  <span>STUDENT MANAGEMENT</span>
                  <div class="text-center">
                    <nb-icon icon="checkmark-outline" status="success"></nb-icon>
                  </div>
                  <div class="text-center">
                    <nb-icon icon="checkmark-outline" status="success"></nb-icon>
                  </div>
                </div>
              </nb-list-item>
              <nb-list-item>
                <div
                  class="text-left"
                  style="display: grid; grid-template-columns: 40% auto auto; width: 100%;"
                >
                  <span>ATTENDANCE MANAGEMENT</span>
                  <div class="text-center">
                    <nb-icon icon="checkmark-outline" status="success"></nb-icon>
                  </div>
                  <div class="text-center">
                    <nb-icon icon="checkmark-outline" status="success"></nb-icon>
                  </div>
                </div>
              </nb-list-item>
              <nb-list-item>
                <div
                  class="text-left"
                  style="display: grid; grid-template-columns: 40% auto auto; width: 100%;"
                >
                  <span>STUDY MATERIAL STORAGE & SHARING</span>
                  <div class="text-center">
                    <nb-icon icon="checkmark-outline" status="success"></nb-icon>
                  </div>
                  <div class="text-center">
                    <nb-icon icon="checkmark-outline" status="success"></nb-icon>
                  </div>
                </div>
              </nb-list-item>
              <nb-list-item>
                <div
                  class="text-left"
                  style="display: grid; grid-template-columns: 40% auto auto; width: 100%;"
                >
                  <span>STUDENT PERFORMANCE TRACKER</span>
                  <div class="text-center">
                    <nb-icon icon="checkmark-outline" status="success"></nb-icon>
                  </div>
                  <div class="text-center">
                    <nb-icon icon="checkmark-outline" status="success"></nb-icon>
                  </div>
                </div>
              </nb-list-item>
              <nb-list-item>
                <div
                  class="text-left"
                  style="display: grid; grid-template-columns: 40% auto auto; width: 100%;"
                >
                  <span>SMART COMMUNICATION MODULE</span>
                  <div class="text-center">
                    <nb-icon icon="checkmark-outline" status="success"></nb-icon>
                  </div>
                  <div class="text-center">
                    <nb-icon icon="checkmark-outline" status="success"></nb-icon>
                  </div>
                </div>
              </nb-list-item>
              <nb-list-item>
                <div
                  class="text-left"
                  style="display: grid; grid-template-columns: 40% auto auto; width: 100%;"
                >
                  <span>FEE MANAGEMENT</span>
                  <div class="text-center">
                    <nb-icon icon="checkmark-outline" status="success"></nb-icon>
                  </div>
                  <div class="text-center">
                    <nb-icon icon="checkmark-outline" status="success"></nb-icon>
                  </div>
                </div>
              </nb-list-item>
              <nb-list-item>
                <div
                  class="text-left"
                  style="display: grid; grid-template-columns: 40% auto auto; width: 100%;"
                >
                  <span>INSIGHTFUL BUSINESS REPORTS</span>
                  <div class="text-center">
                    <nb-icon icon="checkmark-outline" status="success"></nb-icon>
                  </div>
                  <div class="text-center">
                    <nb-icon icon="checkmark-outline" status="success"></nb-icon>
                  </div>
                </div>
              </nb-list-item>
              <nb-list-item>
                <div
                  class="text-left"
                  style="display: grid; grid-template-columns: 40% auto auto; width: 100%;"
                >
                  <span>REAL TIME NOTIFICATIONS</span>
                  <div class="text-center">
                    <nb-icon icon="checkmark-outline" status="success"></nb-icon>
                  </div>
                  <div class="text-center">
                    <nb-icon icon="checkmark-outline" status="success"></nb-icon>
                  </div>
                </div>
              </nb-list-item>
              <nb-list-item>
                <div
                  class="text-left"
                  style="display: grid; grid-template-columns: 40% auto auto; width: 100%;"
                >
                  <span>REMINDER AND ALERTS</span>
                  <div class="text-center">
                    <nb-icon icon="checkmark-outline" status="success"></nb-icon>
                  </div>
                  <div class="text-center">
                    <nb-icon icon="checkmark-outline" status="success"></nb-icon>
                  </div>
                </div>
              </nb-list-item>
              <nb-list-item>
                <div
                  class="text-left"
                  style="display: grid; grid-template-columns: 40% auto auto; width: 100%;"
                >
                  <span>MOBILE APP ACCESS</span>
                  <div class="text-center">
                    <nb-icon icon="checkmark-outline" status="success"></nb-icon>
                  </div>
                  <div class="text-center">
                    <nb-icon icon="checkmark-outline" status="success"></nb-icon>
                  </div>
                </div>
              </nb-list-item>
              <nb-list-item>
                <div
                  class="text-left"
                  style="display: grid; grid-template-columns: 40% auto auto; width: 100%;"
                >
                  <span>LEADS MANAGER</span>
                  <div class="text-center">
                    <nb-icon icon="checkmark-outline" status="success"></nb-icon>
                  </div>
                  <div class="text-center">
                    <nb-icon icon="checkmark-outline" status="success"></nb-icon>
                  </div>
                </div>
              </nb-list-item>
              <nb-list-item>
                <div
                  class="text-left"
                  style="display: grid; grid-template-columns: 40% auto auto; width: 100%;"
                >
                  <span>ONLINE COURSE CREATION</span>
                  <div class="text-center">
                    <nb-icon icon="checkmark-outline" status="success"></nb-icon>
                  </div>
                  <div class="text-center">
                    <nb-icon icon="checkmark-outline" status="success"></nb-icon>
                  </div>
                </div>
              </nb-list-item>
              <nb-list-item>
                <div
                  class="text-left"
                  style="display: grid; grid-template-columns: 40% auto auto; width: 100%;"
                >
                  <span>LIVE CLASSES</span>
                  <div class="text-center">
                    <nb-icon icon="close-outline" status="danger"></nb-icon>
                  </div>
                  <div class="text-center">
                    <nb-icon icon="checkmark-outline" status="success"></nb-icon>
                  </div>
                </div>
              </nb-list-item>
              <nb-list-item>
                <div
                  class="text-left"
                  style="display: grid; grid-template-columns: 40% auto auto; width: 100%;"
                >
                  <span>RECORDED CLASSES</span>
                  <div class="text-center">
                    <nb-icon icon="close-outline" status="danger"></nb-icon>
                  </div>
                  <div class="text-center">
                    <nb-icon icon="checkmark-outline" status="success"></nb-icon>
                  </div>
                </div>
              </nb-list-item>
              <nb-list-item>
                <div
                  class="text-left pb-4"
                  style="
                    display: grid;
                    grid-template-columns: 40% auto auto;
                    width: 100%;
                    background-color: #373435;
                  "
                >
                  <span><br /></span>
                  <span><br /></span>
                  <span><br /></span>
                  <span></span>
                  <div class="text-center">
                    <button
                      nbButton
                      status="warning"
                      style="color: black; width: 50%;"
                      (click)="activate('4999', 'Lite')"
                    >
                      Activate
                    </button>
                  </div>
                  <div class="text-center">
                    <button nbButton style="color: white; width: 50%; background-color: #009acd;">
                      Comming Soon
                    </button>
                  </div>
                </div>
              </nb-list-item>
            </nb-list>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
