table {
  width: 100%;
  height: 5vh;
}

table td {
  text-align: left;
  padding-top: 5px;
}

.attendanceList {
  padding: 15px;
}
.date-block {
  float: left;
  width: 75px;
  height: 75px;
  background-color: #ffd500;
}